<?xml version="1.0" encoding="ISO-8859-1"?>
<Application>
    <Information>
        <ID>1</ID>
    </Information>
	<Objects>
		<Object Name="obj1" ID="111" Type="1111">
			<Script>script</Script>
			<Attributes>
				<Attribute Name="attr1">val1</Attribute>
			</Attributes>
			<Objects>
				<Object Name="obj2" ID="222" Type="2222">
					<Script>script</Script>
					<Attributes>
						<Attribute Name="attr2">val2</Attribute>
					</Attributes>
					<Objects>
					</Objects>
				</Object>
			</Objects>
		</Object>
	</Objects>
</Application>
